@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.jobs-title, .jobs-job {
    display: inline;
    font-family: 'Advent Pro', sans-serif;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 35px;
}

.work-vid {
    padding: 0;
    margin: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    object-fit:none;
    object-position: center;
    overflow: hidden;
    z-index: -1;
    filter: blur(2.5px);
    opacity: 1;
    box-shadow: 0px 0px 10px black;
}
.join {
    background-color: transparent;
    font-family: 'Quicksand';
    display: block;
    cursor: pointer;
    height: 50px;
    font-size: large;
    color: black;
    width: 150px;
    border-color: black;
    border-width: 0.2px;
    border-style: groove;
    margin-top: 60px;
    font-family: 'Koulen', cursive;
}

.join:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

.why-title, .why-body {
    font-family: 'Mulish';
    margin-top: 400px;
    font-size: x-large;
}

.why-body {
    margin-top: 100px;
    width: 60vw;

}
.why-title {
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;

}
.Jobs {
    padding-bottom: 300px;   
}

.why-ds {
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    display: inline;
    color:beige;
    background-color:coral;
    font-size: 22px;
}

.why-ds:hover {
    color: coral;
    background-color: beige;
}